{% extends "base.html" %} {% import 'bootstrap/wtf.html' as wtf %} {% block
content %}
<div class="container">
    <h1 class="text-center">Login</h1>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <!-- flash messages -->
            {% for message in get_flashed_messages() %}
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{message}}
            </div>
            <!-- login form -->
            {% endfor %} 
            {{wtf.quick_form(loginform)}}
            <p>
                Dont have an account yet?
                <a href="{{url_for('auth.signup')}}">Sign up</a>
            </p>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
{% endblock %}
