.card-columns{
    /* column-count: 4; */
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid #dee2e6; */
    margin: auto auto;
}
.card{
    border: 1px solid #437eb9;
    border-radius: 0.75rem;
    /* margin: 0.75rem; */
    margin: 1.5rem;
    padding: 1rem;
    width: 20em;
    background: #437eb9;
}

.card-footer{
    display: flex;
    
}
.card-footer>a{
margin: 3px;
}