{% extends 'base.html' %} {% macro displayPitches(allpitches) %} {% block styles
%} {{super()}}
<link href="{{url_for('static',filename='css/macro.css')}}" rel="stylesheet" />
{% endblock %}
<div class="container-fluid">
  <div class="col-md-2">
    <div class="jumbotron">
      <div class="overlay">
        <a href="{{url_for('main.new_pitch')}}" class="text-center"
          ><button class="btn">Create New Pitch</button></a
        >
        <!-- <a href=""> <button class="btn"> My profile </button> </a> -->
      </div>
    </div>
  </div>
  <div class="col-md-10">
    <h1 class="text-center">All Pitches</h1>
    <div class="card-columns">
      {% for pitch in allpitches %}
      <div class="card m-3 p-3">
        <div class="card-body">
          <p>Title: <span class="h4 b-3">{{pitch.title}}</span> </p>
          <br />
          Category: <span class="h5 b-3">{{pitch.category}}</span>
          <br>
          <hr>
          <p>{{pitch.pitchtext}}</p>
          <br />
          <!-- <p>pitch by: <span>{{users}}</span></p> -->
          <p>{{pitch.date_created  }}</p>
        </div>
        <hr />
        <div class="card-footer mx-auto">
          <a href="/comments/{{pitch.id}}" id="cmtbtn"
            ><button class="btn btn-info">Comment</button></a
          >
          <a href="/upvote/{{pitch.id}}" id=""
            ><button class="btn btn-success">
              &#128077; {{pitch.upvotes.count()}}
            </button></a
          >
          <a href="/downvote/{{pitch.id}}"
            ><button class="btn btn-danger">
              &#128078; {{pitch.downvotes.count()}}
            </button></a
          >
          <hr />
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endmacro %}
